@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,900&family=Merriweather&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

/* --------------------------------------------------------
---------------------- TITLE + INTRO ---------------------- 
-------------------------------------------------------- */

.divTitle {
  grid-row: 8/9;
  grid-column: 10/15;
  position: relative;
  height: 100%;
}
.divTitleText {
  text-align: left;
  top: 0;
  left: 0;
  font-weight: 800;
  font-size: 35px;
  margin: 0;
  transform: translateY(-20%);
}
.divIntro {
  grid-row: 12/13;
  grid-column: 10/15;
  position: relative;
  display: flex;
  height: 100%;
}
.divIntroText {
  text-align: left;
  font-size: 15px;
  position: relative;
  bottom: 0;
  left: 0;
}

/* --------------------------------------------------------
----------------------- ANIMATION ------------------------- 
-------------------------------------------------------- */

.divAnimationContainer {
  grid-row: 10/11;
  grid-column: 10/15;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
}
.divAnimation {
  margin: 0;
  z-index: 2;
  display: flex;
}

