@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,900&family=Merriweather&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

/* --------------------------------------------------------
---------------------- TITLE + INTRO ---------------------- 
-------------------------------------------------------- */

.divTitle {
  grid-row: 8/9;
  grid-column: 10/15;
  position: relative;
  height: 100%;
}
.divTitleText {
  text-align: left;
  top: 0;
  left: 0;
  font-weight: 800;
  font-size: 35px;
  margin: 0;
  transform: translateY(-20%);
}
.divIntro {
  grid-row: 12/13;
  grid-column: 10/15;
  position: relative;
  display: flex;
  height: 100%;
}
.divIntroText {
  text-align: left;
  font-size: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
}

/* --------------------------------------------------------
------------------------- BUTTON -------------------------- 
-------------------------------------------------------- */

.divButtonContainer {
  grid-row: 14/15;
  grid-column: 10/15;
  height: 100%;
  z-index: 9;
}
.divButton {
  height: 4vh;
  width: 20vh;
  min-height: 20px;
  min-width: 100px;
  border: 0.5vh solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translateY(60%);
}
.divButtonText {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  text-align: center;
}
