/*
CONTAINS STYLES USED GLOBALLY, E.G. IN functions.js
--------------------------------------------------------
--------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@1,900&family=Merriweather&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

/* APPENDED IN FUNCTIONS.JS */

.selectionBoxDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    float: right;
    width: 80%;
    height: 90%;
    position: relative;
    top: 5%;
    opacity: 0;     /* Animated in expandSelectionBox */
}

.selectionBoxHeader {
    font-weight: 800;
    font-size: 45%;
    position: relative;
    margin: 0;
    top: 3%;
}

.selectionBoxText {
    font-weight: 300;
    font-size: 45%;
    position: relative;
    margin: 0;
    bottom: 3%;
}
